@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 16px; /* Размер шрифта */
  font-weight: 400;
  font-style: normal;
}

.container {
  margin: 0 auto;
  width: 412px;
}

.coverImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.coverImg:hover {
  transform: scale(1.05);
  filter: blur(1px);
}

.header__title {
  font-size: 32px;
  font-weight: 700;
  color: #000000;
}

.firstBlock {
  padding: 17px 16px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 22px;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.btn {
  padding: 16px 0;
  width: 100%;
  border: 1px solid #0057ff;
  border-radius: 10px;
  background-color: transparent;
  color: #0057ff;

  transition: all 0.3s;
}

.btn.active {
  background-color: #0057ff;
  color: #ffffff;
}

.btn:hover {
  background-color: #004494;
  color: #ffffff;
}
